---
import Layout from '../layouts/layout.astro'
import Hero from '../components/hero.astro'
import Intro from '../components/intro.astro'
import Gallery from '../components/gallery.astro'
---

<Layout
	page="home"
	classArray={['page-container']}
	title="Gavin McGregor"
	description="designer and developer portfolio 2024"
>
	<main class="row-bottom-x2">
		<Hero />
		<Intro />
		<!-- <Gallery /> -->
	</main>
</Layout>
