---
import { Image } from 'astro:assets'
import portraitImage from '../assets/intro/portrait.jpg'
---

<section>
	<div class="page-width row-top-x2">
		<div class="title-container row-bottom-x2">
			<div class="text-line">
				<h2 class="text-white text-center">
					<span>02_ </span>
					<span class="text-background">Experience Section</span>
				</h2>
			</div>
		</div>
		<div class="experience-container" data-lazy>
			<div class="editor-container" data-child-delay>
				<div class="editor-header">
					<div class="editor-buttons">•••</div>
					<div class="editor-title">Work_History.txt</div>
				</div>
				<div class="cv-container">
					<div class="text-container text-white">
						<p class="mb-1">Job_History</p>
						<div class="job-desc">
							<ul class="mb-1">
								<li class="text-large">We Can Rebuild Him</li>
								<li class="break">/</li>
								<li class="text-meta">(2017_Current)</li>
								<li class="break">/</li>
								<li>
									Graphic Designer and <br />
									Web Developer
								</li>
							</ul>
							<p class="mb-1">
								Working for a small creative agency I would do a little of everything. Mostly
								branding/identity design and web design but I would build and deploy all the
								websites we worked on, as well as any ongoing maintenance.
							</p>
							<p class="mb-1">
								For example, while working with Yippon Kitchen, I was responsible for researching
								and pitching two possible directions for the rebrand. I then worked up two design
								concepts (including logos, icons, colours and typography) which was pitched to the
								clients. I refined the chosen concept and developed the <a
									class="links-list text-underline"
									href="https://ww-presentation.netlify.app/"
									target="_blank">final brand presentation</a
								>.
							</p>
							<p class="mb-1">
								After the branding was signed off I worked on the new signage, packaging and
								designed the new website. During the build of the website a section required me to
								animate some graphic elements in After Effects, these would be layered under a
								number of parallax icons to create an engaging visual. I also developed a script
								with the Youtube API to create a video player widget which would fit more inline
								with the style of the website.
							</p>
							<p class="mb-1">
								After the frontend was built I created a custom wordpress theme. One of our big
								considerations is how much editing function to design into the theme, trying to make
								things simple and flexible for the client to edit everything they want but with
								safeguards to make sure they can't break the styles and formatting. <a
									class="links-list text-underline"
									href="https://yipponsushi.co.uk/"
									target="_blank">View website</a
								>.
							</p>
						</div>
						<div class="job-grid">
							<ul>
								<li class="text-large">Nettl Glasgow</li>
								<li class="break">/</li>
								<li class="text-meta">(2015_2018)</li>
								<li class="break">/</li>
								<li>Web Developer</li>
							</ul>
						</div>
						<div class="job-grid">
							<ul>
								<li class="text-large">GeoFlame</li>
								<li class="break">/</li>
								<li class="text-meta">(2012_2015)</li>
								<li class="break">/</li>
								<li>Graphic Designer</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="editor-container" data-child-delay>
				<div class="editor-header">
					<div class="editor-buttons">•••</div>
					<div class="editor-title">Website_Development.txt</div>
				</div>
				<div class="editor-main">
					<div class="column text-container text-white">
						<div class="group">
							<p class="mb-1">
								/*== WORDPRESS WEBSITES ==*/<br />
							</p>
							<p class="mb-1">
								I have 9 years of experience working with Wordpress. Starting out with page builders
								like Divi or squarespace and progressing into developing custom wordpress themes and
								full stack applications.
							</p>
							<p class="mb-1">
								Currently my workflow would involve designing the page components and templates in
								Figma, before building them as a static site with Astro.js. Then developing those
								files into a custom wordpress theme (either classic or gutenberg) using wp-scripts
								and wordpress/create-block.
							</p>
							<ul class="links-list mb-1">
								<li>
									<a href="https://howongglasgow.com/" target="_blank">
										Ho Wong <span class="tag">_WordPress</span>
									</a>
								</li>
								<li>
									<a href="https://donnamcgowan.co.uk/" target="_blank">
										Donna McGowan <span class="tag">_WordPress</span>
									</a>
								</li>
								<li>
									<a href="https://wecanrebuildhim.com/" target="_blank">
										We Can Rebuild Him <span class="tag">_WordPress</span>
									</a>
								</li>
								<li>
									<a href="https://ubiquitouschip.co.uk/" target="_blank">
										Ubiquitous Chip <span class="tag">_WordPress</span>
									</a>
								</li>
								<li>
									<a href="https://yipponsushi.co.uk/" target="_blank">
										Yippon Sushi <span class="tag">_WordPress</span>
									</a>
								</li>
								<li>
									<a href="https://www.byrhea.co.uk/" target="_blank">
										By Rhea <span class="tag">_WordPress</span>
									</a>
								</li>
								<li>
									<a href="https://thegiraffeshed.com/" target="_blank">
										Giraffe Shed <span class="tag">_WordPress</span>
									</a>
								</li>
								<li>
									<a href="https://www.elopinglapland.com/" target="_blank">
										Eloping Lapland <span class="tag">_WordPress</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="group">
							<p class="mb-1">
								/*== SIMPLER WEBSITES ==*/<br />
							</p>
							<p class="mb-1">
								For clients with smaller budgets there has sometimes been a need to create websites
								with a simpler, stripped back approach. I have created a number of these websites
								with Squarespace or just as static sites.
							</p>
							<ul class="links-list mb-1">
								<li>
									<a href="https://www.lycheeoriental.co.uk/" target="_blank">
										Lychee Oriental <span class="tag">_Squarespace</span>
									</a>
								</li>
								<li>
									<a href="https://junglebook-orchestra.netlify.app/" target="_blank">
										Jungle Book Orchestra <span class="tag">_Static</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="column text-container text-white">
						<div class="group">
							<p class="mb-1">
								/*== FULL STACK APPS ==*/<br />
							</p>
							<p class="mb-1">
								Last year I started developing websites with React, Next.js and Astro.js and this
								site was developed with these libraries/frameworks. For smaller brochure sites I
								wanted to streamline the build process and focus more time on animations and
								transitions.
							</p>
							<p class="mb-1">
								I have also been building the new studio website with Next. Although it is currently
								in development I thought I would include a link here. This is more inline with the
								types of sites I want to build in the future, with creative coding hero sections and
								scroll transitions. Please excuse any temporary content.
							</p>
							<ul class="links-list mb-1">
								<li>
									<a href="https://www.studiorebuildhim.com/" target="_blank">
										Studio Rebuild Him <span class="tag">_Next.js</span>
									</a>
								</li>
								<li>
									<a href="https://kieranreilly.com/" target="_blank">
										Kieran Reilly <span class="tag">_Astro.js</span>
									</a>
								</li>
								<li>
									<a href="/" target="_blank">
										GM24 Portfolio <span class="tag">_Astro.js</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="group">
							<p class="mb-1">
								/*== PROTOTYPE WEBSITES ==*/<br />
							</p>
							<p class="mb-1">
								I have also included links to a number of in-progress websites and creative coding
								prototypes. Please excuse any temporary content.
							</p>
							<ul class="links-list mb-1">
								<li>
									<a href="https://yippon-dev.netlify.app/" target="_blank">
										Yippon <span class="tag">_InProgress</span>
									</a>
								</li>
								<li>
									<a href="https://stravaigin-prototype.netlify.app/" target="_blank">
										Stravaigin <span class="tag">_InProgress</span>
									</a>
								</li>
								<li>
									<a href="https://wecanrebuildhim.com/about" target="_blank">
										WCRH Photo <span class="tag">_InProgress</span>
									</a>
								</li>
								<li>
									<a href="https://wcrh-proto.netlify.app/" target="_blank">
										WCRH Interactive <span class="tag">_Prototype</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.experience-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}

	.cv-container {
		padding: 1rem;
	}

	.cv-container ul {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		align-items: baseline;
		row-gap: 1rem;
	}

	.cv-container .job-desc {
		border-top: 1px solid var(--white);
		padding-top: 1rem;
	}

	.cv-container .job-grid {
		border-top: 1px solid var(--white);
		padding-top: 1rem;
		margin-top: 1rem;
	}

	.links-list {
		color: rgb(255, 255, 0);
	}

	/* Editor Style */

	.editor-container {
		background-color: #333;
		border-radius: 1rem;
		overflow: hidden;
		flex-grow: 1;
	}

	.editor-header {
		background-color: #222;
		color: #666;
		display: flex;
		justify-content: space-between;
		padding: 0.5rem 1rem;
	}

	.editor-title {
		flex-grow: 1;
		text-align: center;
	}

	.editor-main {
		padding: 1rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}

	.editor-main .col-2 {
		grid-column: span 2;
	}
	.editor-main .group {
		padding-top: 1rem;
	}

	.editor-main .text-container {
		max-width: 640px;
	}

	.editor-main ul {
		padding: 0 1rem;
	}

	.editor-main li {
		padding-left: 0.5rem;
		list-style: disc;
	}

	.editor-main .tag {
		color: #fff;
		font-size: 0.8rem;
	}

	.text-container {
		padding: 0;
	}

	@media (max-width: 1400px) {
		.experience-container {
			grid-template-columns: repeat(1, 1fr);
			gap: 2rem;
		}

		.editor-container {
			max-width: 80ch;
			margin: 0 auto;
			width: 100%;
		}

		.editor-container:first-of-type {
			margin-left: 0;
		}

		.editor-container:last-of-type {
			margin-right: 0;
		}
	}

	@media (max-width: 980px) {
		.editor-main {
			grid-template-columns: repeat(1, 1fr);
			gap: calc(1rem * 1);
		}
	}

	@media (max-width: 640px) {
		.cv-container ul {
			display: block;
			padding-left: calc(1rem * 2);
		}

		.cv-container li {
			list-style: disc;
		}

		.cv-container .break {
			display: none;
		}
	}

	@media (min-width: 641px) {
		.cv-container br {
			display: none;
		}
	}
</style>
