---

---

<header>
	<div class="header-inner page-width relative">
		<div class="column-container">
			<!-- column -->
			<div class="column-single">
				<div class="text-container">
					<div class="text-line">
						<span class="text-background">Gavin McGregor</span>
					</div>
					<div class="text-line">
						<span class="text-background">Graphic Designer</span>
					</div>
					<div class="text-line">
						<span class="text-background">and Web Developer</span>
					</div>
				</div>
			</div>
			<!-- /column -->
			<div class="column-single">
				<button id="info-button"><span>i</span></button>
			</div>
			<!-- /column -->
		</div>
	</div>
</header>

<style>
	header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9;
	}

	.header-inner {
		padding: 2rem 0;
	}

	header .fixed {
		position: fixed;
	}

	header .column-container {
		display: flex;
		justify-content: space-between;
	}

	header #info-button {
		background-color: var(--white);
		height: 30px;
		width: 30px;
		border-radius: 15px;
		position: relative;
		transition: transform 0.3s ease-out;
	}

	header #info-button span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		line-height: 1em;
	}

	header #info-button:hover {
		transform: scale(1.2);
	}

	@media (max-width: 640px) {
		.header-inner {
			padding: 1rem 0;
		}
	}
</style>
