---
import { Image } from 'astro:assets'
import backgroundImage from '../assets/hero/background.png'
import portraitImage from '../assets/hero/scan.jpg'
import textureImage from '../assets/hero/auldgloom.jpg'
import Canvas from '../components/canvas.astro'
---

<section>
	<div class="page-width row-top-x2 row-bottom-x2">
		<div class="title-container row-top-x2 row-bottom-x2">
			<h1 class="hidden">Gavin McGregor, designer/developer portfolio 2024</h1>
			<h2 class="hidden text-white text-center text-line-reversed">
				<span class="text-background">Hero Section</span>
			</h2>
		</div>
		<div class="background-container">
			<Image
				src={backgroundImage}
				alt=""
				widths={[640, 490, 980]}
				sizes={'(max-width: 640px) 640px, (max-width: 980px) 490px, 980px'}
				format="webp"
				quality={80}
				loading="eager"
			/>
		</div>

		<Canvas />

		<div class="font-display-container">
			<div class="letters text-auld">ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?!$@:;.</div>
			<div class="caption-container text-line-reversed">
				<span class="text-background text-grey">Custom font: Auld_Traditional</span>
			</div>
		</div>

		<div class="texture-container">
			<div class="">
				<Image
					src={textureImage}
					alt=""
					widths={[640, 490, 980]}
					sizes={'(max-width: 640px) 640px, (max-width: 980px) 490px, 980px'}
					format="webp"
					quality={80}
					loading="eager"
				/>
			</div>
		</div>

		<div class="portrait-container">
			<div class="aspect-ratio">
				<Image
					src={portraitImage}
					alt=""
					widths={[640, 490, 980]}
					sizes={'(max-width: 640px) 640px, (max-width: 980px) 490px, 980px'}
					format="webp"
					quality={80}
					loading="eager"
				/>
			</div>
		</div>
	</div>
</section>

<style>
	section {
		min-height: 100vh;
		background-color: #222;
		position: relative;
		overflow: hidden;
	}

	.title-container {
		position: relative;
		z-index: 2;
	}

	.background-container img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.font-display-container {
		position: absolute;
		top: 0%;
		right: 0;
		width: calc(50% - 0.5rem);
		height: 80%;
		z-index: 6;
		background-color: var(--grey);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.font-display-container .letters {
		width: 80%;
		margin: 0 auto 25%;
		overflow-wrap: break-word;
		text-wrap: balance;
		font-size: calc(1rem + 2vw + 2vh);
	}

	.font-display-container .caption-container {
		position: absolute;
		right: 2rem;
		bottom: 2rem;
		margin-left: 2rem;
	}

	.texture-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 33.33%;
		height: 100%;
		background-color: #222;
	}

	.texture-container img {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 75%;
		background-color: #d0ac6f;
		z-index: 4;
	}

	.portrait-container {
		position: absolute;
		width: 100%;
		bottom: -5%;
		left: 1rem;
		z-index: 5;
		transform: translateY(0%) rotate(10deg);
		max-width: min(320px, 70vw);
		background-color: #d5dadd;
	}

	.aspect-ratio {
		width: 100%;
		padding-bottom: calc(5 / 4 * 100%);
		border-radius: 1rem;
		overflow: hidden;
	}

	.portrait-container img {
		object-fit: contain;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	@media (max-width: 640px) {
		.texture-container {
			width: 100%;
			height: 50%;
			top: unset;
			bottom: 0;
		}

		.portrait-container {
			bottom: 10%;
			left: -10%;
		}

		.font-display-container {
			position: absolute;
			top: 0%;
			right: -20%;
			width: calc(75% - 0.5rem);
			height: 80%;
			background-color: var(--grey);
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
</style>
