---

---

<section>
	<div class="page-width row-top-x2 row-bottom-x2">
		<div class="title-container row-top-x2 row-bottom-x2">
			<h1 class="hidden">Gavin McGregor, designer/developer portfolio 2024</h1>
			<h2 class="text-white text-center">Hero Section</h2>
		</div>
	</div>
</section>

<style>
	section {
		min-height: 100vh;
		background-color: #222;
	}
</style>
